*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    background: rgb(188,67,249);
    background: linear-gradient(90deg, rgba(188,67,249,1) 0%, rgba(150,89,207,1) 28%, rgba(105,11,198,1) 63%, rgba(51,0,255,1) 100%);
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrap_login{
    position: relative;
}

.form_div{
    width: 500px;
    height: 500px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
    border-radius: 15px;
    border: 5px double rgb(255, 153, 170);
    background-color: rgb(250, 212, 255);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.img_style{
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    width: 200px;
    height: 200px;
}

input{
    color: #fff;
    background-color: rgb(116, 3, 97);
    border-radius: 999px;
    padding: 15px 25px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

input:placeholder{
    color: #fff;
}

input:focus{
    color: #fff;
    background-color: blueviolet;
}

.key{
    opacity: 0.8;
    position: absolute;
    top: 14px;
    right: 10px;
}

.key:hover{
    cursor: pointer;
    opacity: 1;
}

button{
    padding: 10px 50px;
    border: none;
    outline: none;
    background-color: rgb(5, 5, 145);
    color: rgb(209, 189, 255);
    font-size: 1.2rem;
    border-radius: 20px;
}

button:hover{
    color: #fff;
    cursor: pointer;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.error_div{
    display: none;
    position: absolute;
    bottom: 5%;
    background-color: rgb(107, 1, 1);
    color: #fff;
    padding: 2rem;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    gap: 1vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}